@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.scrolling {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

#kontak img {
  height: 32px;
}
.text-logo {
  display: flex;
  gap: 10px;
}
